﻿@using PromotionsPrototypeApp.Controllers

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>

<table class="table table-bordered text-center">
    <tr>
        <th align="center">Item</th>
        <th align="center">Quantidade</th>
        <th align="center">Preço</th>
        <th align="center">Promoção</th>
    </tr>

    @{
        var sessionCart = ((List<Item>)Session["cart"]);
        var itemsBasket = sessionCart.GroupBy(x => x.Product.ID).Select(y => y.First()).ToList();
        double totalAmount = sessionCart.Sum(x => (double)x.SalesPrice);

        foreach (Item item in itemsBasket)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@Html.ActionLink("-", "RemoveProduct", "ShoppingCart", new { id = item.Product.ID }, new { @class = "btn btn-default" }) @(sessionCart.Count(q => q.Product.ID == item.Product.ID)) @Html.ActionLink("+", "AddProduct", "ShoppingCart", new { id = item.Product.ID }, new { @class = "btn btn-default" })</td>
                <td>@(string.Format("{0:C}", item.Product.Price))</td>
                <td>@Html.DisplayFor(m => item.Product.SpecialOffer.Name)</td>
            </tr>
        }
        <tr>
            <th></th>
            <th>Total</th>
            <td>@(string.Format("{0:C}", totalAmount))</td>
            <th></th>
        </tr>
    }
</table>
@Html.ActionLink("Continuar comprando", "Store", "Product")

