﻿@model PromotionsPrototypeApp.Models.SpecialOffer

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir promoção</h2>

<h3>Você tem certeza que deseja excluir esta promoção?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemsMinimumNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemsMinimumNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Retornar", "Index")
        </div>
    }
</div>
