﻿@model PromotionsPrototypeApp.Models.SpecialOffer

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da promoção</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemsMinimumNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemsMinimumNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retornar", "Index")
</p>
