﻿@model IEnumerable<PromotionsPrototypeApp.Models.SpecialOffer>

@{
    ViewBag.Title = "Início";
}

<h2>Início</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemsMinimumNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemsMinimumNumber)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
<p>
    @Html.ActionLink("Criar nova promoção", "Create")
</p>