﻿@model PromotionsPrototypeApp.Models.Product

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhar produto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialOffer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialOffer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retornar", "Index")
</p>
