﻿@using PromotionsPrototypeApp.Models

@{
    ViewBag.Title = "Loja";
}


<h2>Loja</h2>
<table class="table table-bordered">
    <tr>
        <th>Item</th>
        <th>Preço</th>
        <th>Promoção</th>
        <th>Comprar</th>
    </tr>
    @foreach (Product p in (List<Product>)ViewBag.productList)
    {
        <tr>
            <td>@p.Name</td>
            <td>@(string.Format("{0:C}", p.Price))</td>
            <td>@Html.DisplayFor(m => p.SpecialOffer.Name)</td>
            <td>@Html.ActionLink("Comprar", "AddProduct", "ShoppingCart", new { id = p.ID }, null)</td>
        </tr>
    }
</table>

